name: Course-service Infra Manual Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      action:
        type: string
        description: Infra action
        options:
          - 'apply'
          - 'destroy'
        default: apply
        required: true
permissions:
  id-token: write
  contents: read
jobs:
  execute-infra-action:
    runs-on: ubuntu-latest
    name: Execure Infrastructure Manual action
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Setup Terraform 
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.5.7"
    - name: AWS Authenticate
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.ASSUME_ROLE }}
    - name: Initialize Terraform
      working-directory: devops
      run: |
        terraform init -backend-config="variables/dev/dev.backend.tfvars"
    - name: Plan Terraform
      working-directory: devops
      run: |
        action=${{ inputs.action }}
        echo "action=$action"
        if [ "$action" = "apply" ]; then
          terraform plan -var-file="variables/dev/dev.tfvars" -out=tfplan
        else
          terraform plan -var-file="variables/dev/dev.tfvars" -destroy -out=tfplan-destroy
        fi
      shell: bash
    - name: Terraform Apply
      if: ${{ inputs.action == 'apply' }}
      working-directory: devops
      run: |
        terraform apply tfplan
    - name: Terraform Destroy
      working-directory: devops
      if: ${{ github.events.inputs.action == 'destroy' }}
      run: |
        terraform apply tfplan-destroy

          
  
      
